body {
    background-color: lightgreen;
    font-family: verdana;
    font-size: 15px;
}

h3 {
    font-size: 16 px;

}

button {   
    color:#050;   
    font-size: 16 px;
    font: bold large 'trebuchet ms',verdana,sans-serif; 
}

img {
    display: block;
    margin: auto;
    width: 40%;
}