body {
    background-image: url("./partyLogo/bakgrund.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    font-family: verdana;
    color: dimgrey;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        /*background-color: honeydew;*/
        background-image: url("./partyLogo/clouds.png");
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;
        background-size: cover;
        font-family: verdana;
        color: dimgrey;
    }
}

h3 {
    font-size: 16 px;

}

h4 {
    padding-left: 30%;
    padding-right: 30%;
    font-size: 16px;
}

button {   
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 4px 8px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    font: bold large 'trebuchet ms',verdana,sans-serif;   
}
button:hover
{
    cursor: pointer;
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

.bottom-three {
     margin-bottom: 1.5cm;
  }

.vrubrik {
    padding-left: 2%;
    width: 300px;
}

.buttonBIG {
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 15px 16px;
    margin-left: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
}

/*<button class ="buttonBIG" onclick="window.location.href='voteParty.html'">BÖRJA DIREKT</button>*/

.buttonBIG:hover
{
    cursor: pointer;
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}

.fraga {
    background-color: rgba(240, 255, 240, 0.6);
    text-align: center;
    width: 600px;
    height: 140px;
    line-height: 140px;
    margin: auto;
    padding: 12px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .fraga {
        background-color: rgba(240, 255, 240, 0.6);
        text-align: center;
        width: 80%;
        height: 200px;
        line-height: 200px;
        margin: auto;
        padding: 10%;
    }
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.graf {
    background-color: rgba(240, 255, 240, 0.9);
    padding-left:10%;
    padding-right:10%;
    padding-top: 1%;
    background-clip: content-box;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

#omstart {
    position: fixed;
    bottom: 15px;
    margin-left:5%;
}

#buttons
{
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}

#contain
{
    text-align: center;
}

/*Gör en meny högst upp*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: honeydew;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111111;
    color: white;
}
